<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Unfold - Personal Portfolio & CV Template</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="/css/LineIcons.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="/css/detalle/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="/css/detalle/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

</head>

<body>
    <header id="home" class="header-area">
        <div class="navigation fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="/index.html">
                                <img src="/images/logo.png" alt="Logo">
                            </a> <!-- Logo -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item"><a class="page-scroll" href="/">INICIO</a></li>
                                    <li class="nav-item"><a class="page-scroll" href="/alquiler">ALQUILER</a></li>
                                    <li class="nav-item"><a class="page-scroll" href="/compra">COMPRA</a></li>
                                    <li class="nav-item"><a class="page-scroll" href="/contacto">CONTACTO</a></li>
                                </ul>
                            </div> <!-- navbar collapse -->
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navigation -->
    </header>

    <section class="contact-area pt-200 pb-50 gray-bg">
        <div class="container">
           <div class="col-md-8 mx-auto">
                <div class="card text-center">
                    <div class="card-header">
                        <h3>NUEVA PROPIEDAD</h3>
                    </div>
                    <div class="card-body">
                        <form action="/propiedad/nueva" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="text" name="nombre" class="form-control" placeholder="Nombre" autofocus/>
                            </div>
                            <div class="form-group">
                                <input type="text" name="direccion" class="form-control" placeholder="Direccion" autofocus/>
                            </div>
                            <div class="form-group">
                                <input type="text" name="precio" class="form-control" placeholder="Precio" autofocus/>
                            </div>

                            <div class="form-group">
                                <textarea name="descripcion" class="form-control" placeholder="Descripcion"></textarea>
                            </div>

                            <div class="form-group">
                                <input type="text" name="tipopropiedad" class="form-control" placeholder="C o P" />
                            </div>

                            <div class="form-group">
                                <input type="number" name="banos" class="form-control" placeholder="BAÑOS" />
                            </div>

                            <div class="form-group">
                                <input type="number" name="dormitorios" class="form-control" placeholder="DORMITORIOS" />
                            </div>

                            <div class="form-group">
                                <input type="number" name="superficie" class="form-control" placeholder="SUPERFICIE" />
                            </div>

                            <div class="form-group">
                                <input type="number" name="cocheras" class="form-control" placeholder="COCHERAS" />
                            </div>

                            <!-- IMAGENES -->
                            <div class="form-group">
                                <input type="file" name="image" class="form-control" placeholder="" autofocus/>
                            </div>


                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit">
                                    Save
                                </button>
                            </div>

                            {{!-- <img src={{urlimagen}} alt=".." /> --}}
                            {{!-- <h2> {{urlimagen}} </h2> --}}
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    </section>

    <footer id="footer" class="footer-area">
        <div class="footer-copyright pb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text text-center pt-20">
                            <p>Copyright © 2022. Template Crafted by <a href="https://uideck.com" rel="nofollow">UIdeck</a></p>
                        </div> <!-- copyright text -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer widget -->
    </footer>


    <!--====== jquery js ======-->
    <script src="/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="/js/jquery.magnific-popup.min.js"></script>


    <!--====== Counter Up js ======-->
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>


    <!--====== Appear js ======-->
    <script src="/js/jquery.appear.min.js"></script>

    <!--====== Scrolling js ======-->
    <script src="/js/scrolling-nav.js"></script>
    <script src="/js/jquery.easing.min.js"></script>

    <!--====== Main js ======-->
    <script src="/js/detalle/main.js"></script>

</body>
</html>
